<div class="about">
  <div class="content">
    <span class="capital">F</span>irma Green Ways od 2001 roku skupia się na dwóch
    produktach: Chlorelli Pyranoidosa i Młodym Jęczmieniu, o których czystość i bezpieczeństwo dba, robiąc badania oraz
    kontrolując uprawy.<br> <span class="capital">P</span>rodukty Green Ways cieszą się ogromną skutecznością we
    wspomaganiu leczenia wielu schorzeń. <br> <span class="capital">Z</span>ielona Żywność Green Ways nie jest lekiem
    lecz wartościowym pożywieniem, które zadba o Twoje zdrowie.
  </div>
  <img class="carosel" [src]="imgSrc" alt="product">
</div>
<div class="certs">
  <img class=cert src="../../assets/icons/antioxidant.webp" alt="antioxidant">
  <img class=cert src="../../assets/icons/ecogical.webp" alt="ecogical">
  <img class=cert src="../../assets/icons/gluten_free.webp" alt="gluten free">
  <img class=cert src="../../assets/icons/gmo_free.webp" alt="gmo free">
  <img class=cert src="../../assets/icons/natural.webp" alt="natural bio">
  <img class=cert src="../../assets/icons/pure.webp" alt="pure">
  <img class=cert src="../../assets/icons/vegan.webp" alt="vegan">
</div>