.contact {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 15%;
  justify-content: space-between;
}

.footer {
  background-color: rgb(130, 130, 130);
  font-size: large;
  color: white;
}

.copyright {
  font-size: smaller;
  text-align: center;
  padding: 5px;
}

.info {
  display: flex;
  align-items: center;
  min-width: 40%;
  padding: 5px;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

hr {
  margin: 0 15%;
  color: rgba(255, 255, 255, 0, 1);
}

.icon {
  max-width: 25px;
  margin: 0px 10px;
}

@media only screen and (max-width: 690px) {
  .info,
  .copyright {
    font-size: medium;
  }
  .icon {
    max-width: 20px;
  }

  .info {
    margin-left: 0;
  }
}

@media only screen and (max-width: 600px) {
  .contact {
    flex-direction: column;
    align-items: start;
  }
}

@media only screen and (max-width: 400px) {
  .contact,
  hr {
    margin: 0;
    padding: 0;
  }
  .info,
  .copyright {
    font-size: small;
  }
  .copyright {
    text-align: center;
  }
}

@media only screen and (max-width: 210px) {
  .info {
    padding-left: 0;
  }
  .info,
  .copyright {
    font-size: x-small;
  }
  .copyright {
    text-align: center;
  }
  .icon {
    display: none;
  }
}
