<div class="footer">
  <div class="contact">
    <a class="info" href="mailto:ania.lutomierska@gmail.com?subject=Zielonki z Doradztwem"><img class="icon"
        src="../../assets/email.svg" alt="mail">
      ania.lutomierska&#64;gmail.com
    </a>
    <a class="info" href="tel:+48660366416" target="_blank"><img class="icon" src="../../assets/phone.svg" alt="phone">
      +48 660 366 416
    </a>
    <a class="info" href="https://www.facebook.com/groups/1716949495382076" target="_blank"><img class="icon"
        src="../../assets/facebook.svg" alt="facebook">
      Moje Zielone Zdrowie</a>
    <a class="info" href="#contact">Contact Us</a>
  </div>
  <hr>
  <div class="copyright">
    &copy; 2024 Zielonki z doradztwem
  </div>
</div>