<div class="footer">
  <div class="contact">
    <a class="info" (click)="redirectMail($event.target)" (mouseover)="resetHref($event.target)"><img class="icon"
        src="../../assets/icons/email.svg" alt="mail">
      ania.lutomierska&#64;gmail.com
    </a>
    <a class="info" (click)="redirectPhone($event.target)" (mouseover)="resetHref($event.target)" target="_blank"><img
        class="icon" src="../../assets/icons/phone.svg" alt="phone">
      +48 660 366 416
    </a>
    <a class="info" (click)="redirectFacebook($event.target)" (mouseover)="resetHref($event.target)"
      target="_blank"><img class="icon" src="../../assets/icons/facebook.svg" alt="facebook">
      Moje Zielone Zdrowie</a>
    <a class="info" (click)="redirectToContact()"><img class="icon" src="../../assets/icons/questions.svg"
        alt="questions">Zadawać Pytania</a>
  </div>
  <hr>
  <div class="copyright">
    &copy; 2024 Zielonki z doradztwem
  </div>
</div>