.nav {
  padding: 10px;
  display: flex;
  font-size: xx-large;
  justify-content: center;
  align-items: center;
}

.logo-group {
  display: flex;
  align-items: center;
  margin-right: 2%;
  font-weight: bold;
  font-family: "Garamond";
}

.logo {
  max-width: 150px;
  margin: 0px 10px;
}

.offer {
  background-color: green;
  color: whitesmoke;
  padding: 10px;
  font-size: x-large;
  text-align: center;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: right;
}

.nav-opt {
  padding: 15px;
  text-decoration: none;
  color: initial;
}

.nav-opt:hover {
  transform: scale(1.1);
}

.selected-page:hover {
  transform: scale(1);
}

.nav-opt:visited {
  font-weight: bold;
}

.selected-page {
  background-color: whitesmoke;
}

@media only screen and (max-width: 1100px) {
  .nav {
    padding: 8px;
    flex-direction: column;
  }
  .logo {
    margin-bottom: 5px;
  }
  .menu {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 690px) {
  .nav {
    padding: 7px;
    margin: 10px;
    justify-content: space-around;
    font-size: x-large;
  }
  .offer {
    font-size: large;
  }
}

@media only screen and (max-width: 570px) {
  .nav {
    padding: 5px;
    margin: 5px;
    font-size: large;
  }
  .nav-opt {
    padding: 10px;
  }
}

@media only screen and (max-width: 420px) {
  .nav {
    padding: 10px 5px;
    margin: 10px 5px;
  }
  .menu,
  .logo-group {
    flex-direction: column;
  }
}

@media only screen and (max-width: 310px) {
  .nav,
  .offer {
    font-size: medium;
  }
}

@media only screen and (max-width: 200px) {
  .nav,
  .offer {
    font-size: x-small;
  }
  .logo {
    display: none;
  }
}
